body {
  background: white;
}

.header-flat {
  margin: 50px;
}

.flat-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flat-name {
  padding: 50px;
}

.form-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-gray {
  background: $light-gray;
}

.btn-form {
  width: 100%;
}

.form-container {
  border-radius: 5px;
  padding: 10px;
  background: $light-gray;
}
